*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/images/display/
/public/images/gallery-samples/
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

app/Http/Controllers/admin/EstimationCT-backup.php
database/seeders/RefreshCiptaGrafikaSeeder.php
public/js/2026-backup-3.js
resources/views/admin/estimation/large-format/create-backup4.blade.php